<a [routerLink]="route ? route : ''" class="user-item">
	<span class="img" [class.count]="cnt">
		<span class="online" *ngIf="online && !cam"></span>
		<span class="cam" *ngIf="cam"></span>
		<span class="cnt" *ngIf="cnt>0 && !cam">{{cnt}}</span>
		<img src="./assets/img/user-item.jpeg" alt="">
	</span>
	<span class="info">
		<span class="name">
			Katie
		</span>
		<span class="message">
			Thanks
		</span>
	</span>
</a>
