*{
    box-sizing: border-box;
}
.user-item{
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    font-family: Montserrat-Regular, sans-serif;
}

.user-item .img{
    margin-right: 15px;
    position: relative;
}

.user-item .img img{
    border-radius: 50%;
    width:  60px;
    height: 60px;
    object-fit: cover;
}
.user-item .img .cam{
    position: absolute;
    left: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border: 5px solid #ff870c;
    border-radius: 50%;
    box-sizing: border-box;
}
.user-item .img .cam:before{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: url(/assets/img/play-button.svg) no-repeat center center, #ff870c;
}
.user-item .img .cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 3px;
    left:2px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    border-radius: 50%;
    color: #fff;
    background: #1643b5;
}

.user-item .img .online{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    bottom: 5px;
    right: 5px;
}
.user-item .img .online:before{
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    border-radius: 50%;
    background: #779e02;
}


.info{
    display: flex;
    flex-direction: column;
}

.info .name{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 3px;
}

.info .message{
    color: rgba(0, 0, 0, 0.67);
    font-size: 16px;
}
