@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('ttf');
    src: local('Montserrat-Regular');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('ttf');
    src: local('Montserrat-Bold');
    font-weight: normal;
    font-style: normal;
}
